* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

body,
html {
  overflow: hidden;
  /* height: 100%; */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: clamp(100vh, 100vh, 100vh);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: hsl(267, 25%, 10%);
  font-size: 1rem;
  color: #ddd;
  padding: 1rem 2rem;
}

nav div {
  display: flex;
  gap: 2rem;
}

.btn {
  border: none;
  height: 100%;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.6rem;
  background-color: hsl(267, 75%, 60%);
  transition: background-color 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(267, 50%, 50%);
}

.eisenhower-view {
  display: grid;
  gap: 1rem;
  padding: 2rem 2rem;
  background-color: hsl(267, 75%, 5%);
  grid-template-columns: 2rem 1fr 1fr;
  grid-template-rows: 2rem 40vh 40vh;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  flex: 1;
}

.eisenhower-title {
  color: white;
  /* background-color: red; */
  text-align: center;
  font-size: 1.8rem;
}

.quadrant {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #555;
  border-radius: 1rem;
  color: #fff;
  overflow: hidden;
}

.quadrant > div,
.quadrant li {
  padding: 0 1rem;
}

.quadrant-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
  /* height: 2.8rem; */
  font-weight: bold;
  /* background-color: hsl(267, 25%, 10%); */
  border-bottom: #555 solid 0.1rem;
  overflow: hidden;
  font-size: 1.3rem;
}

.num-tasks {
  display: grid;
  place-content: center;
  font-size: 1rem;
  height: 1.6rem;
  min-width: 1.6rem;
  padding: 0.5rem;
  border-radius: 999999rem;
}

.urgent {
  grid-area: b;
}

.not-urgent {
  grid-area: c;
}

.important {
  grid-area: d;
  writing-mode: sideways-lr;
}

.not-important {
  grid-area: g;
  writing-mode: sideways-lr;
}

.urgent-important {
  grid-area: e;
}

.not-urgent-important {
  grid-area: f;
}

.urgent-not-important {
  grid-area: h;
}

.not-urgent-not-important {
  grid-area: i;
}

.task-list {
  flex-grow: 20;
  align-items: center;
  background-color: hsl(267, 25%, 10%);
  list-style: none;
  overflow: scroll;
}

.task-list li {
  display: flex;
  border-bottom: #555 solid 0.1rem;
  align-items: center;
  height: 2.4rem;
  gap: 0.4rem;
  overflow: scroll;
}

.task-list button {
  border: none;
  aspect-ratio: 1;
  height: 1rem;
  width: auto;
  border-radius: 100%;
  background-color: none;
  background: none;
  border: white solid 0.1rem;
  cursor: pointer;
}

.task-list input[type="text"] {
  width: 100%;
  font-size: 1rem;
  color: white;
  background: none;
  border: none;
}

.new-task-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, calc(1 / 3));
}

.new-task-modal {
  width: 35vw;
  height: 80vh;
  color: white;
  background-color: hsl(267, 25%, 10%);
  border: #555 solid 0.1rem;
  border-radius: 2rem;
  padding: 2rem;
}

.new-task-modal h2 {
  text-align: center;
}

.submit-new-task {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.btn--new-task {
  width: 6rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#btn--create-new-task {
  background-color: hsl(267, 75%, 60%);
}

#btn--discard-new-task {
  background-color: #aaa;
}
